.homeContainer {
  width: 90%;
  margin: 50px 5% 0px 5%;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeTilte {
  text-align: center;
  font-size: large;
}
.reservations {
  display: flex;
  margin-bottom: 20px;
}
.homeSearch {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchFilter {
  margin-top: 10px;
  width: 70%;
}
.cardsContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
