.cardContainer {
  display: flex;
  width: 29%;
  border: 5px solid rgb(27, 27, 27);
  height: 300px;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  align-items: center;
  border-radius: 5px;
}

.cardImg {
  width: 90%;
  height: 150px;
}
.cardImg img {
  height: 100%;
  width: 100%;
}
.CardInfo {
  width: 90%;
  margin: 10px 0px;
}
.CardInfo div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.cardContainer button {
  margin-top: 30px;
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
}
.cardContainer button:hover {
  background-color: #fff;
}
